@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 734.581px/2);
        padding-right: calc(50% - 734.581px/2);
    }

    .registration {
        gap: 22px;
        .loyalty_hadding {
            font-size: 16px;
            line-height: 19px;
        }
        .loyalty_info {
            font-size: 16px;
            line-height: 19px;
        }
        .loyalty_list_item {
            font-size: 16px;
            line-height: 19px;
        }
        
    }

    .cart {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.15fr;
        &_item_tablet {
            grid-area: 3 / 2 / 2 / 2;
            background: rgb(204, 23, 23);
        }

        
        .shipping {
            max-width: 360px;
            max-height: 372px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            grid-area: 4 / 1 / 5 / 1;
        }
        .order {
            grid-area: 3 / 2 / 2 / 2;
            background: rgb(245, 243, 243);
            max-height: 214px;
            padding-left: 44px;
            padding-right: 43px;
            display: flex;
            flex-direction: column;
            text-align: right;
        }
    }

    .footer {
        &_top {
            flex-direction: column;
        }

        &_center {
            flex-direction: column;
            gap: 48px;
        }
    }

    .tablet {
        display: none !important;
    }
}