@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import '../var';
@import '../global';


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
    background-color: $colorBackgroundHeaderFooter;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        gap: 33px;
    }

    &__svg:hover path {
        fill: $colorHover;
    }
}

.bread_crump {
    background: rgb(248, 243, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

    &__left {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 5px;

        &_item {
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
}

.cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 0.15fr;
    row-gap: 40px;
    padding-top: 96px;
    padding-bottom: 128px;

    &__item {
        width: 652px;
        height: 306px;
        box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
        padding-right: 22px;
        display: flex;
        justify-content: space-between;

    }

    &_content {
        width: 262px;
        padding-top: 22px;
        padding-bottom: 62px;
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    &_hadding {
        color: rgb(34, 34, 34);
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }

    &_filling {
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;

        .cart_select1 {
            color: $colorTextAdditional;
        }

        .cart_select2 {
            color: rgb(111, 110, 110);
        }

        .cart_select3 {
            color: rgb(111, 110, 110);
        }

        .cart_select4 {
            width: 44px;
            border: 1px solid rgb(111, 110, 110);
            margin-left: 24px;
            padding-left: 17px;
            padding-right: 17px;
        }
    }



    &_close {
        padding-top: 22px;
    }

    .shipping {
        max-width: 360px;
        max-height: 372px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-area: 3 / 2 / 1 / 2;

        &_hadding {
            padding-top: 17px;
            color: rgb(34, 34, 34);
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
        }

        &_input {
            height: 42px;
            padding-left: 17px;
            border: 1px solid rgb(111, 110, 110);
            color: rgb(177, 177, 177);
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
        }

        &_button {
            width: 101px;
            height: 34px;
            background-color: #FFF;
            border: 1px solid rgb(111, 110, 110);
            color: rgb(74, 74, 74);
            font-size: 11px;
            font-weight: 300;
            line-height: 13px;
            letter-spacing: 0%;
        }
    }

    .order {
        grid-area: 3 / 2 / 2 / 2;
        background: rgb(245, 243, 243);
        max-height: 214px;
        padding-left: 44px;
        padding-right: 43px;
        display: flex;
        flex-direction: column;
        text-align: right;

        .price {
            padding-top: 39px;
            padding-bottom: 21px;
            display: flex;
            gap: 12px;
            flex-direction: column;
            border-bottom: 1px solid rgb(226, 226, 226);

            .sub_price {
                color: rgb(74, 74, 74);
                font-size: 11px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0%;
            }

            .grand_price {
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0%;

                .grand_total {
                    color: $colorTextAdditional;
                }
            }
        }

        &_button {
            margin-top: 17px;
            height: 50px;
            border: 1px solid $colorBorder;
            color: rgb(111, 110, 110);
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0%;
        }

        &_button:hover {
            color: rgb(255, 255, 255);
            background-color: $colorHover;
        }

    }

    .control {
        grid-area: 3 / 2 / 3 / 1;
        width: 675px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &_button {
            padding: 17px 41px 16px 39px;
            background-color: #FFF;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 0%;
            border: 1px solid rgb(111, 110, 110);
        }
    }

}

.footer {


    &_center {
        display: flex;
        align-items: center;
        padding-top: 97px;
        padding-bottom: 126px;
        background-image: url('/img/backgroud_footer.png');
        background-size: cover;
        gap: 328px;

        &_left {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            &_paragraph {
                text-align: center;
                max-width: 359px;
                color: rgb(34, 34, 36);
                font-family: Lato;
                font-style: italic;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
            }
        }

        &_right {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 32px;

            &_text {
                text-align: center;
            }

            &_input {
                display: flex;

                &_data {
                    display: flex;
                    align-items: center;
                }

                &_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &_svg {
                    position: relative;
                }

                &_paragraph_left {
                    position: absolute;
                    margin-left: 5px;
                }

                &_paragraph_right {
                    position: absolute;
                }
            }
        }
    }

    &_bot {
        background-color: $colorBackgroundHeaderFooter;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;

        &_year {
            color: #FBFBFB;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_icon {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 7.29px;

            &_frame {
                display: flex;
                width: 32px;
                height: 32px;
                background-color: #FFF;
                justify-content: center;
                align-items: center;
                position: relative;

                &:hover {
                    background-color: $colorHover;
                }

                &:hover path {
                    fill: #FFF;
                }
            }

            &_brand {
                position: absolute;
                z-index: 5;
            }

        }
    }
}


@import './tablet';
@import './phone';