@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 734.581px/2);
        padding-right: calc(50% - 734.581px/2);
    }

    .top_promo {
        gap: 39px;
        .img_promo {
            width: 386px;
            height: 368px;
            flex-shrink: 0;
            
        }
        &_title {
            font-size: 44px;
        }
    
        &_subtitle {
            font-size: 24px;
        }
    }

    .offer {
        gap: 19.3px;
        &__item_img {
            width: 100%;
        }
    }

    
    .catalog {
        &_title {
            margin-bottom: 3.3px;
        }
    
        &_subtitle {
            margin-bottom: 73.74px;
        }
    
        &_content {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 16px;
            padding-bottom: 32.48px;
        }
    }
    

    .footer {
        &_top {
            flex-direction: column;
            gap: 48px;
        }
    
        &_center_left {
            margin-right: 0px;
        }
    
        &_center {
            align-items: center;
            flex-direction: column;
            gap: 48px;
        }
    }
    
}