@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Lato;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.pink_text {
  color: #F16D7F;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
  background-color: #222;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  gap: 33px;
}
.header__svg:hover path {
  fill: #F16D7F;
}

.top_promo {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  gap: 63.42px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.top_promo__right {
  display: inline-block;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-bottom: 90px;
}
.top_promo__title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top_promo__subtitle {
  font-size: 32px;
  font-weight: 700;
}

.offer {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  gap: 30px;
}
.offer__item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: rgba(33, 22, 22, 0.7);
}
.offer__item_big {
  grid-area: 2/1/3/4;
}
.offer__item_img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  min-height: 111px;
  z-index: -1;
}
.offer__item_title {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer__item_subtitle {
  font-size: 24px;
  font-weight: 700;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 128px;
}
.catalog_title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.catalog_subtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.catalog_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 30px;
  padding-bottom: 48px;
}
.catalog_content_item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.catalog_content_item .cart_img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog_content_item_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catalog_content_item_img:hover {
  background-color: rgba(58, 56, 56, 0.86);
}
.catalog_content_item_img .button_cart {
  display: none;
}
.catalog_content_item_img .button_cart:hover path {
  fill: #F16D7F;
}
.catalog_content_item_img:hover .button_cart {
  display: flex;
  font-size: 16px;
  width: 212px;
  height: 48px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  gap: 11.04px;
  z-index: 1;
  position: absolute;
}
.catalog_content_item_img:hover .button_cart:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}
.catalog_content_item_text {
  background-color: #F8F8F8;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 28.8px;
}
.catalog_content_item_title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12.65px;
}
.catalog_content_item_paragraph {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 18px;
}
.catalog_content_item_price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog .button {
  font-size: 16px;
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog .button:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.footer_top {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  align-items: center;
  gap: 30px;
  background-color: #222;
}
.footer_top_content_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_top_icon {
  margin-bottom: 28px;
}
.footer_top_header {
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.footer_top_paragraph {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 360px;
}
.footer_center {
  display: flex;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 126px;
  background-image: url("/html-scss/Seminar_10/img/backgroud_footer.png");
  background-size: cover;
  gap: 328px;
}
.footer_center_left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.footer_center_left_paragraph {
  text-align: center;
  max-width: 359px;
  color: rgb(34, 34, 36);
  font-family: Lato;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.footer_center_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.footer_center_right_text {
  text-align: center;
}
.footer_center_right_input {
  display: flex;
}
.footer_center_right_input_data {
  display: flex;
  align-items: center;
}
.footer_center_right_input_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_center_right_input_svg {
  position: relative;
}
.footer_center_right_input_paragraph_left {
  position: absolute;
  margin-left: 5px;
}
.footer_center_right_input_paragraph_right {
  position: absolute;
}
.footer_bot {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_bot_year {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer_bot_icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 7.29px;
}
.footer_bot_icon_frame {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer_bot_icon_frame:hover {
  background-color: #F16D7F;
}
.footer_bot_icon_frame:hover path {
  fill: #FFF;
}
.footer_bot_icon_brand {
  position: absolute;
  z-index: 5;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 367.2905px);
    padding-right: calc(50% - 367.2905px);
  }
  .top_promo {
    gap: 39px;
  }
  .img_promo {
    width: 386px;
    height: 368px;
    flex-shrink: 0;
  }
  .top_promo_title {
    font-size: 44px;
  }
  .top_promo_subtitle {
    font-size: 24px;
  }
  .offer {
    gap: 19.3px;
  }
  .offer_item_img {
    width: 100%;
  }
  .catalog_title {
    margin-bottom: 3.3px;
  }
  .catalog_subtitle {
    margin-bottom: 73.74px;
  }
  .catalog_content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding-bottom: 32.48px;
  }
  .footer_top {
    flex-direction: column;
    gap: 48px;
  }
  .footer_center_left {
    margin-right: 0px;
  }
  .footer_center {
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 152.5px);
    padding-right: calc(50% - 152.5px);
  }
  .top_promo {
    padding-top: 148px;
    justify-content: center;
  }
  .display_none {
    display: none;
  }
  .top_promo_right {
    margin-bottom: 149px;
  }
  .top_promo_title {
    font-size: 38px;
  }
  .top_promo_subtitle {
    font-size: 20px;
  }
  .offer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 0, 5fr);
    gap: 30px;
  }
  .offer_item_big {
    grid-area: auto;
  }
  .top_promo {
    gap: 39px;
    padding-left: calc(50% - 384.786px);
    padding-right: calc(50% - 384.786px);
  }
  .offer_item_img {
    width: 100%;
  }
  .catalog_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding-bottom: 32.48px;
  }
  .footer_top {
    flex-direction: column;
    gap: 48px;
  }
  .footer_center_left {
    margin-right: 0px;
  }
  .footer_center {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    gap: 48px;
  }
  .footer_bot {
    align-items: center;
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */